:root {
  --body-background-color: #33353a;
  --card-background-color: #262626;

  --text-primary-color: #e9b864;
  --text-secondary-color: #e4e5e5;
  --text-tertiary-color: #b0b0b0;

  --text-primary-font: "Press Start 2P", monospace;
  --text-secondary-font: "Open Sans", sans-serif;
  --text-title-font: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--body-background-color);
  font-family: var(--text-secondary-font);
  font-size: 1.5rem;
  color: var(--text-secondary-color);

  max-width: 70vw;
  margin-inline: auto;
}

@media (max-width: 600px) {
  body {
    max-width: 92.5vw;
  }
}

main > * {
  width: auto;
}

header {
  text-align: center;
  padding-bottom: 2.5rem;
}

nav {
  font-family: var(--text-primary-font);
  font-size: 1.2rem;
  color: var(--text-primary-color);
}

a {
  color: var(--text-tertiary-color);
  text-decoration: none;
}

a.active {
  color: var(--text-primary-color);
}

a:hover {
  color: var(--text-secondary-color);
}

@media (max-width: 600px) {
  a,
  span {
    font-size: 1rem;
  }
}

h1 {
  font-family: var(--text-title-font);
  font-weight: 900;
  font-size: 5rem;
}

h2 {
  font-family: var(--text-primary-font);
  color: var(--text-primary-color);
  font-size: 1rem;
}

p {
  line-height: 2.2rem;
}

p span {
  font-family: var(--text-primary-font);
  font-size: 1rem;
  color: var(--text-primary-color);
  padding: 0.5rem;
}

p a {
  color: var(--text-primary-color);
  text-decoration: underline;
}

p a:hover {
  color: var(--text-tertiary-color);
}

footer {
  margin-top: 50px;
  padding-bottom: 50px;
}

footer h2 {
  font-size: 1.5rem;
}

.social {
  display: flex;
  padding-top: 26px;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
